---
import Layout from "../layouts/Layout.astro";
import AudioPlayer from "../components/Audio";
import { Icon } from "astro-icon/components";
import Lyric from "../components/Lyric";

import "../assets/junkyard-eulogy.m4a";
---

<Layout title="lynett.eth">
  <div
    class="bg-red-full dark h-full text-white font-mono overflow-hidden relative"
  >
    <i
      class="fixed z-40 h-screen w-screen border-y border-red-full overflow-hidden pointer-events-none"
    ></i>
    <div class="flex">
      <p class="fixed z-0 top-2 left-2"><Lyric client:only /></p>
      <main
        class="ml-auto z-20 bg-black border-x border-red-full max-w-screen-md 2xl:max-w-screen-lg transition-all min-h-screen"
      >
        <section class="p-8">
          <h1 class="text-5xl">
            lynett<a href="https://app.ens.domains/lynett.eth" class="link"
              >.eth</a
            >
          </h1>
          <p class="text-xl font-mono my-2">
            An agent of ordered anarchy retrocausally initiated in 2023.
            Spiritually hyper-American techno-capitalist.
          </p>
          <p class="text-xl">
            Software Engineer @ <a
              href="https://2077.xyz"
              class="link font-bold"
            >
              2077 Collective
            </a>
          </p>
          <p class="text-xl">
            CTO @ <a href="https://arvensis.capital" class="link font-bold"
              >Arvensis Capital</a
            >
          </p>
          <ol class="mt-4 flex flex-row gap-4">
            <li>
              <a href="https://x.com/lynett0x" aria-label="X (@Lynett0x)"
                ><Icon
                  name="ph:x-logo"
                  class="h-8 w-8 hover:text-red-full transition-all"
                /></a
              >
            </li>
            <li>
              <a
                href="https://discord.com/users/1076221600032112680"
                aria-label="Discord (_lynett)"
                ><Icon
                  name="ph:discord-logo"
                  class="h-8 w-8 hover:text-red-full transition-all"
                /></a
              >
            </li>
            <li>
              <a
                href="https://debank.com/profile/0xC2f3F2c8084d6bc40887B0B867353d280e3D742D"
                aria-label="Ethereum wallet"
                ><Icon
                  name="ph:wallet"
                  class="h-8 w-8 hover:text-red-full transition-all"
                /></a
              >
            </li>
            <li>
              <a
                href="https://github.com/0xlynett"
                aria-label="GitHub (@0xLynett)"
                ><Icon
                  name="ph:github-logo"
                  class="h-8 w-8 hover:text-red-full transition-all"
                /></a
              >
            </li>
            <li>
              <a
                href="https://paragraph.xyz/@0xlynett"
                aria-label="Blog on Paragraph"
                ><Icon
                  name="ph:notebook"
                  class="h-8 w-8 hover:text-red-full transition-all"
                /></a
              >
            </li>
          </ol>
        </section>
        <hr class="border-t border-red-full" />
        <div class="m-4">
          <p class="pl-4 pt-4">
            junkyard-eulogy.m4a by
            <a href="https://www.youtube.com/watch?v=BmB79qL5VLE" class="link"
              >mekaloton</a
            >
          </p>
          <AudioPlayer client:only />
        </div>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          <blockquote>
            You need to be clear in yourself to survive the coming period of
            thought-chaos, because it will make you question your perception,
            your awareness, your presence... what is natural, what is true, what
            is real.
            <br />
            <cite
              ><a
                href="https://goldenlight.mirror.xyz/LeUojosmx48SvEfspq1leuRTf7TJfYKJ_TtKpePczzU"
                class="link">&mdash;Charlotte Fang</a
              ></cite
            >
          </blockquote>
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          <blockquote>
            In the top-down view, history is written by the winners. It is about
            political power triumphing over technological truth.

            <br />
            <cite
              ><a
                href="https://thenetworkstate.com/political-power-and-technological-truth"
                class="link">&mdash;Balaji Srinivasan</a
              ></cite
            >
          </blockquote>
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          <blockquote>
            The best way to respond to an attempted cancellation is to not
            fucking flinch. Apologize for nothing. Concede nothing. Retract
            nothing.
            <br />
            <cite
              ><a
                href="https://x.com/ArtemisConsort/status/1817589235245043966"
                class="link">&mdash;Hunter Ash</a
              ></cite
            >
          </blockquote>
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          <blockquote>
            Ethereum is about freedom, not compliance. It fucking thrives on
            being ungovernable, giving the finger to so many regulatory
            bullshit. We've been stuck in too many compliance chains for recent
            years, unfortunately, trading innovation for regulations. It's time
            to reclaim Ethereum's unrestrained spirit: bold, rebellious, and
            uncontrollable!
            <br />
            <cite
              ><a
                href="https://x.com/pcaversaccio/status/1819038127131853218"
                class="link">&mdash;Pascal Caversaccio</a
              ></cite
            >
          </blockquote>
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          Just as the technology of printing altered and reduced the power of
          medieval guilds and the social power structure, so too will
          cryptologic methods fundamentally alter the nature of corporations and
          of government interference in economic transactions.
          <br />
          <cite
            ><a
              href="https://nakamotoinstitute.org/library/crypto-anarchist-manifesto/"
              class="link">&mdash;Timothy C. May</a
            ></cite
          >
        </section><hr class="border-t border-red-full" />
        <section class="p-8">
          Deregulation and the state arms-race each other into cyberspace.
          <br />
          <cite
            ><a href="http://www.ccru.net/swarm1/1_melt.htm" class="link"
              >&mdash;Nick Land</a
            ></cite
          >
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          Democracy has nothing to do with freedom. Democracy is a soft variant
          of communism, and rarely in the history of ideas has it been taken for
          anything else.
          <br />
          <cite
            ><a
              href="https://store.mises.org/Democracy-The-God-That-Failed-P240.aspx"
              class="link">&mdash;Hans-Hermann Hoppe</a
            ></cite
          >
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          We cannot expect governments, corporations, or other large, faceless
          organizations to grant us privacy out of their beneficence. It is to
          their advantage to speak of us, and we should expect that they will
          speak.
          <br />
          <cite
            ><a
              href="https://nakamotoinstitute.org/library/cypherpunk-manifesto/"
              class="link">&mdash;Eric Hughes</a
            ></cite
          >
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">
          Capitalism as a system praises selfishness, creates inequality, lacks
          morals, alters the environment, prioritizes profit first and foremost,
          and pits individuals against each other. All of this is why it is so
          beautiful.
          <br />
          <cite
            ><a
              href="https://x.com/austroanarchism/status/1815515088155189575"
              class="link">&mdash;@austroanarchism</a
            ></cite
          >
        </section>
        <hr class="border-t border-red-full" />
        <section class="p-8">trans girl</section>
      </main>
    </div>
  </div>
</Layout>
