---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Separator } from "../components/ui/separator.tsx";
import "../assets/junkyard-eulogy.m4a";
---

<Layout title="lynett.eth">
  <div class="flex flex-col lg:flex-row gap-8">
    <section class="gap-4 max-w-fit flex flex-col mx-auto">
      <h1 class="font-bold text-5xl sm:text-7xl">lynett.eth</h1>
      <ol class="flex flex-row gap-4">
        <li>
          <a href="https://x.com/lynettdoteth" aria-label="X (@lynettdoteth)"
            ><Icon
              name="ph:x-logo"
              class="h-8 w-8 hover:text-red-full transition-all"
            /></a
          >
        </li>
        <li>
          <a
            href="https://discord.com/users/1076221600032112680"
            aria-label="Discord (_lynett)"
            ><Icon
              name="ph:discord-logo"
              class="h-8 w-8 hover:text-red-full transition-all"
            /></a
          >
        </li>
        <li>
          <a
            href="https://debank.com/profile/0xC2f3F2c8084d6bc40887B0B867353d280e3D742D"
            aria-label="Ethereum wallet"
            ><Icon
              name="ph:wallet"
              class="h-8 w-8 hover:text-red-full transition-all"
            /></a
          >
        </li>
        <li>
          <a href="https://github.com/0xlynett" aria-label="GitHub (@0xLynett)"
            ><Icon
              name="ph:github-logo"
              class="h-8 w-8 hover:text-red-full transition-all"
            /></a
          >
        </li>
        <li>
          <a
            href="https://paragraph.xyz/@0xlynett"
            aria-label="Blog on Paragraph"
            ><Icon
              name="ph:notebook"
              class="h-8 w-8 hover:text-red-full transition-all"
            /></a
          >
        </li>
      </ol>
      <Separator />
      <div class="text-lg max-w-screen-sm space-y-4">
        <p>
          Hey, I'm Lyn. I'm a Praxian citizen who's highly passionate about
          Ethereum and decentralized finance.
        </p>
        <ul class="list-disc list-inside child-links space-y-2">
          <h2 class="font-bold text-xl">What I'm doing now</h2>
          <li>
            CEO @ <a href="https://arvensis.systems">Arvensis Systems</a>
            <p class="text-base text-white/60">
              Currently building open-source software and decentralized
              technologies designed to maintain user autonomy.
            </p>
          </li>
        </ul>
        <ul class="list-disc list-inside child-links space-y-2">
          <h2 class="font-bold text-xl">Past work experience</h2>
          <li>
            Social Media Intern @ <a href="https://saharacompute.com"
              >Sahara Compute</a
            >
            <p class="text-base text-white/60">
              I designed an initial draft of the logo and other brand assets, as
              well as managing the Sahara Compute X account and acquiring
              partnerships with other companies.
            </p>
          </li>
          <li>
            Junior Software Engineer @ <a href="https://2077.xyz"
              >2077 Collective</a
            >
            <p class="text-base text-white/60">
              I contributed to the websites as well as designing Collective
              brand assets.
            </p>
          </li>
        </ul>
        <p class="child-links">
          <span class="font-semibold text-xl">My interests</span> include trading,
          <a href="https://en.wikipedia.org/wiki/Decentralized_finance"
            >decentralised finance</a
          >, programming, <a href="https://prx.city">Praxis</a>, <a
            href="http://www.ancapfaq.com/index.html">anarcho-capitalism</a
          >, <a href="https://kleros.io">private law</a>, <a
            href="https://en.wikipedia.org/wiki/Cryptoeconomics"
            >cryptoeconomics</a
          >, <a href="https://en.wikipedia.org/wiki/Financial_engineering"
            >financial engineering</a
          >, open source, <a
            href="https://hackmd.io/@ilikesymmetry/intro-keystore-rollup"
            >keystore rollups</a
          > and <a href="https://ethereum.org">Ethereum</a>.
        </p>
        <p>
          <span class="font-semibold text-xl">My skills</span> include Solidity,
          React and JS/TS; not finishing projects and amateur design.
        </p>
        <p class="text-base">This page was last updated on March 28th, 2025.</p>
      </div>
    </section>
  </div>
</Layout>
