---
import { Separator } from "./ui/separator";
---

<div class="flex flex-col gap-4">
  <h1 class="font-semibold text-xl sticky">quote wall</h1>
  <Separator />
  <blockquote>
    In the top-down view, history is written by the winners. It is about
    political power triumphing over technological truth.

    <br />
    <cite
      ><a
        href="https://thenetworkstate.com/political-power-and-technological-truth"
        class="link">&mdash;Balaji Srinivasan</a
      ></cite
    >
  </blockquote>
  <blockquote>
    The best way to respond to an attempted cancellation is to not fucking
    flinch. Apologize for nothing. Concede nothing. Retract nothing.
    <br />
    <cite
      ><a
        href="https://x.com/ArtemisConsort/status/1817589235245043966"
        class="link">&mdash;Hunter Ash</a
      ></cite
    >
  </blockquote>
  <blockquote>
    Ethereum is about freedom, not compliance. It fucking thrives on being
    ungovernable, giving the finger to so many regulatory bullshit. We've been
    stuck in too many compliance chains for recent years, unfortunately, trading
    innovation for regulations. It's time to reclaim Ethereum's unrestrained
    spirit: bold, rebellious, and uncontrollable!
    <br />
    <cite
      ><a
        href="https://x.com/pcaversaccio/status/1819038127131853218"
        class="link">&mdash;Pascal Caversaccio</a
      ></cite
    >
  </blockquote>
  <blockquote>
    Just as the technology of printing altered and reduced the power of medieval
    guilds and the social power structure, so too will cryptologic methods
    fundamentally alter the nature of corporations and of government
    interference in economic transactions.
    <br />
    <cite
      ><a
        href="https://nakamotoinstitute.org/library/crypto-anarchist-manifesto/"
        class="link">&mdash;Timothy C. May</a
      ></cite
    >
  </blockquote>
  <blockquote>
    Deregulation and the state arms-race each other into cyberspace.
    <br />
    <cite
      ><a href="http://www.ccru.net/swarm1/1_melt.htm" class="link"
        >&mdash;Nick Land</a
      ></cite
    >
  </blockquote>
  <blockquote>
    Democracy has nothing to do with freedom. Democracy is a soft variant of
    communism, and rarely in the history of ideas has it been taken for anything
    else.
    <br />
    <cite
      ><a
        href="https://store.mises.org/Democracy-The-God-That-Failed-P240.aspx"
        class="link">&mdash;Hans-Hermann Hoppe</a
      ></cite
    >
  </blockquote>
  <blockquote>
    We cannot expect governments, corporations, or other large, faceless
    organizations to grant us privacy out of their beneficence. It is to their
    advantage to speak of us, and we should expect that they will speak.
    <br />
    <cite
      ><a
        href="https://nakamotoinstitute.org/library/cypherpunk-manifesto/"
        class="link">&mdash;Eric Hughes</a
      ></cite
    >
  </blockquote>
  <blockquote>
    Capitalism as a system praises selfishness, creates inequality, lacks
    morals, alters the environment, prioritizes profit first and foremost, and
    pits individuals against each other. All of this is why it is so beautiful.
    <br />
    <cite
      ><a
        href="https://x.com/austroanarchism/status/1815515088155189575"
        class="link">&mdash;@austroanarchism</a
      ></cite
    >
  </blockquote>
</div>

<style>
  @reference "tailwindcss";
  blockquote {
    @apply border-s-2 pl-2;
  }
</style>
