---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Agent of anarchy retrocausally initiated in 2023, spiritually Hyper-American technocapitalist, cypherpunk crypto-anarchist building on Ethereum."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="scrollbar scrollbar-thumb-black bg-gradient-to-b from-black via-orange-600 to-red-full dark h-full"
  >
    <div class="text-white font-mono overflow-hidden relative">
      <i
        class="fixed z-40 h-screen w-full max-w-screen border border-red-full overflow-hidden pointer-events-none"
      ></i>
      <div class="flex">
        <slot name="corner" />
        <main
          class="md:mt-16 mx-auto z-20 bg-black border-x border-t border-red-full max-w-screen-md transition-all min-h-screen"
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style is:global>
  .link {
    @apply underline underline-offset-4 text-red-full;
  }
</style>
