---
import NoiseCanvas from "@/components/noise";
import "@/styles/globals.css";
import "@fontsource/hubot-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="mixyl" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-900 text-white dark selection:bg-white selection:text-black"
  >
    <main
      class="relative h-screen scrollbar overflow-auto pt-6 sm:pt-12 px-4 sm:px-8 border border-white/50 bg-linear-to-tr from-neutral-900 to-black"
    >
      <slot />
    </main>
  </body>
</html>
