---
import "@/styles/globals.css";
import "@fontsource/hubot-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Agent of anarchy retrocausally initiated in 2023, spiritually Hyper-American technocapitalist, cypherpunk crypto-anarchist building on Ethereum."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900 text-white dark selection:bg-red-600">
    <div class="h-screen p-4">
      <main
        class="relative scrollbar h-[calc(100vh---spacing(8))] overflow-auto pt-6 sm:pt-12 px-4 sm:px-8 border border-red-600/50 rounded-lg bg-linear-to-tr from-neutral-900 to-red-800"
      >
        <div
          class="bg-[url(/noise-effect.svg)] opacity-5 fixed w-full h-full top-0 left-0 pointer-events-none"
        >
        </div>
        <slot />
      </main>
    </div>
  </body>
</html>
